Node-red/SimulacionAnimales/out/production/SimulacionAnimales/dsf.json
[
  {
    "id": "77bc89ae.3fa2f8",
    "type": "function",
    "z": "d70b0ab1.ce01b8",
    "name": "Rabbitmq backup filename",
    "func": "msg.filename = \"/my_backup_path/my_backup_\"+(new Date().toISOString().replace(‘:’, ‘_’).replace(‘:’, ‘_’).replace(/\\..+/, ",
    "))":
    "_rabbitmq.definitions.json\";\nmsg.localFilename = msg.payload;\n\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 260,
    "wires": [
      [
        "ae44c11d.e87cb"
      ]
    ]
  },
  {
    "id": "2c2bdf54.f02b7",
    "type": "exec",
    "z": "d70b0ab1.ce01b8",
    "command": "rabbitmqadmin export ",
    "addpay": true,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Rabbitmq Backup",
    "x": 350,
    "y": 360,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "586364c1.27d9bc",
    "type": "inject",
    "z": "d70b0ab1.ce01b8",
    "name": "Send at 6AM",
    "topic": "",
    "payload": "/home/pi/.node-red/rabbit.definitions.json",
    "payloadType": "str",
    "repeat": "",
    "crontab": "00 06 * * *",
    "once": false,
    "onceDelay": 0.1,
    "x": 140,
    "y": 340,
    "wires": [
      [
        "2c2bdf54.f02b7",
        "8b1a42da.0e7cf",
        "661da7e4.2d8258",
        "ebefaa2f.49e858"
      ]
    ]
  },
  {
    "id": "8b1a42da.0e7cf",
    "type": "delay",
    "z": "d70b0ab1.ce01b8",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 340,
    "y": 280,
    "wires": [
      [
        "77bc89ae.3fa2f8"
      ]
    ]
  },
  {
    "id": "ae44c11d.e87cb",
    "type": "ftp in",
    "z": "d70b0ab1.ce01b8",
    "ftp": "ea2ed29a.98bf7",
    "operation": "put",
    "filename": "",
    "localFilename": "",
    "name": "FTP Backup",
    "x": 880,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "899a4ffa.af001",
    "type": "ftp in",
    "z": "d70b0ab1.ce01b8",
    "ftp": "ea2ed29a.98bf7",
    "operation": "put",
    "filename": "",
    "localFilename": "",
    "name": "FTP Node-Red Flows and Creds",
    "x": 630,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "661da7e4.2d8258",
    "type": "function",
    "z": "d70b0ab1.ce01b8",
    "name": "Node-Red Backup",
    "func": "\n// Backup the flows\nmsg.filename = \"/my_backup_path/my_backup_\"+(new Date().toISOString().replace(‘:’, ‘_’).replace(‘:’, ‘_’).replace(/\\..+/, ",
    "))":
    "_flows.json\";\nmsg.localFilename = \"/home/pi/.node-red/flows.json\";\nnode.send(msg); \n\n// Backup the creds\nmsg.filename = \"/my_backup_path/my_backup_\"+(new Date().toISOString().replace(‘:’, ‘_’).replace(‘:’, ‘_’).replace(/\\..+/, ",
    "))":
    "_flows_cred.json\";\nmsg.localFilename = \"/home/pi/.node-red/flows_cred.json\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 420,
    "wires": [
      [
        "899a4ffa.af001"
      ]
    ]
  },
  {
    "id": "ebefaa2f.49e858",
    "type": "function",
    "z": "d70b0ab1.ce01b8",
    "name": "Email Confirmation",
    "func": "var date = new Date().getDate();\nvar month = new Date().getMonth();\nvar year = new Date().getFullYear();\nmsg.topic = \" Server Backups\";\nmsg.payload = \"My Server backups done to ftp.myserver.com/my_backup_path/my_backup_ \" + date + \"/\" + month+1 + \"/\" + year +  \"<br>\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 520,
    "wires": [
      [
        "d36d27d1.9cbfb8"
      ]
    ]
  },
  {
    "id": "d36d27d1.9cbfb8",
    "type": "e-mail",
    "z": "d70b0ab1.ce01b8",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "name": "myemail@mydomain.com",
    "dname": "Backup Confirmation",
    "x": 630,
    "y": 520,
    "wires": []
  },
  {
    "id": "ea2ed29a.98bf7",
    "type": "ftp",
    "z": "",
    "host": "ftp.myserver.com",
    "port": "",
    "secureOptions": "",
    "user": "my_ftp_login",
    "connTimeout": "",
    "pasvTimeout": "",
    "keepalive": ""
  }
]