Node-red/Diagramas/POPBL_nodered(Primer_import).json
[
    {
        "id": "039d7233156f48a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a1883a5ac099e45",
        "type": "amqp in",
        "z": "039d7233156f48a4",
        "name": "",
        "topic": "",
        "iotype": "0",
        "ioname": "simuladorAnimales",
        "server": "a2972475b284ff1e",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "1c2ab5e0f8a33b2c"
            ]
        ]
    },
    {
        "id": "dd087030576d64a8",
        "type": "amqp out",
        "z": "039d7233156f48a4",
        "name": "",
        "routingkey": "",
        "iotype": "0",
        "ioname": "simuladorAnimales",
        "server": "a2972475b284ff1e",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "0f5b54d7e45104af",
        "type": "inject",
        "z": "039d7233156f48a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "66c5b5cda180edb0"
            ]
        ]
    },
    {
        "id": "68c9d55de6674ffb",
        "type": "debug",
        "z": "039d7233156f48a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "449bf2e4bf3fbf54",
        "type": "json",
        "z": "039d7233156f48a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "dd087030576d64a8",
                "d62097d87c98e2b4"
            ]
        ]
    },
    {
        "id": "66c5b5cda180edb0",
        "type": "function",
        "z": "039d7233156f48a4",
        "name": "",
        "func": "var constantes = {latidos:75, \npresion:423410, \ntemperatura:413420, \nfrrespiracion:251235};\nmsg.payload = constantes;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "449bf2e4bf3fbf54"
            ]
        ]
    },
    {
        "id": "d62097d87c98e2b4",
        "type": "debug",
        "z": "039d7233156f48a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "1c2ab5e0f8a33b2c",
        "type": "json",
        "z": "039d7233156f48a4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "68c9d55de6674ffb",
                "d804156264066b08",
                "1fe81a95a6992030"
            ]
        ]
    },
    {
        "id": "5d7d491435ba2d31",
        "type": "http request",
        "z": "039d7233156f48a4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 890,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d804156264066b08",
        "type": "function",
        "z": "039d7233156f48a4",
        "name": "",
        "func": "if(msg.payload.latidos > 60 || msg.playload.presion  > 60 \n    || msg.payload.temperatura > 60 || msg.payload.frrespiracion > 60){\n    flow.set(\"estadoActual\", \"MG\");\n} else if(msg.payload.latidos > 50 || msg.playload.presion  > 50 \n    || msg.payload.temperatura > 50 || msg.payload.frrespiracion > 50){\n    flow.set(\"estadoActual\", \"G\");\n} else if(msg.payload.latidos > 40 || msg.playload.presion  > 40 \n    || msg.payload.temperatura > 40 || msg.payload.frrespiracion > 40){\n   flow.set(\"estadoActual\", \"Ok\");\n} else if(msg.payload.latidos > 30 || msg.playload.presion  > 30 \n    || msg.payload.temperatura > 30 || msg.payload.frrespiracion > 30){\n    flow.set(\"estadoActual\", \"Lib\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "1da8d60e8841f134"
            ]
        ]
    },
    {
        "id": "0b4d20df399dc20c",
        "type": "amqp out",
        "z": "039d7233156f48a4",
        "name": "",
        "routingkey": "",
        "iotype": "0",
        "ioname": "alarma",
        "server": "a2972475b284ff1e",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "1da8d60e8841f134",
        "type": "switch",
        "z": "039d7233156f48a4",
        "name": "",
        "property": "estadoActual",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "msg.payload.estado",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 360,
        "wires": [
            [
                "0b4d20df399dc20c",
                "bd24a45f9e8b4689"
            ]
        ]
    },
    {
        "id": "1fe81a95a6992030",
        "type": "change",
        "z": "039d7233156f48a4",
        "name": "timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "5d7d491435ba2d31",
                "9f73c9befbe8c914"
            ]
        ]
    },
    {
        "id": "9f73c9befbe8c914",
        "type": "debug",
        "z": "039d7233156f48a4",
        "name": "aaaaaaaaaaaa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd24a45f9e8b4689",
        "type": "debug",
        "z": "039d7233156f48a4",
        "name": "alarmaDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "a2972475b284ff1e",
        "type": "amqp-server",
        "host": "localhost",
        "port": "5672",
        "vhost": "",
        "keepalive": "30",
        "usetls": false,
        "verifyservercert": true,
        "useca": false,
        "ca": "",
        "usetopology": false,
        "topology": "{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"
    }
]